In [1]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np 
import os
import pandas as pd

In [2]:
df1 = pd.read_csv('../archive/IPL_Ball_by_Ball_2008_2022.csv')
df1.dataframeName = 'deliveries.csv'

In [3]:
df1.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
player_subset = df1[df1["batter"] == 'DA Warner']
player_subset

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
1203,1304115,1,1,1,DA Warner,HR Shokeen,PP Shaw,NaN,1,0,1,0,0,NaN,NaN,NaN,Delhi Capitals
1206,1304115,1,1,4,DA Warner,HR Shokeen,PP Shaw,NaN,0,0,0,0,0,NaN,NaN,NaN,Delhi Capitals
1207,1304115,1,1,5,DA Warner,HR Shokeen,PP Shaw,NaN,4,0,4,0,0,NaN,NaN,NaN,Delhi Capitals
1208,1304115,1,1,6,DA Warner,HR Shokeen,PP Shaw,NaN,0,0,0,0,0,NaN,NaN,NaN,Delhi Capitals
1212,1304115,1,2,4,DA Warner,DR Sams,PP Shaw,legbyes,0,1,1,0,0,NaN,NaN,NaN,Delhi Capitals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207053,392206,2,13,4,DA Warner,M Muralitharan,KD Karthik,NaN,1,0,1,0,0,NaN,NaN,NaN,Delhi Daredevils
207055,392206,2,13,6,DA Warner,M Muralitharan,KD Karthik,NaN,0,0,0,0,0,NaN,NaN,NaN,Delhi Daredevils
207058,392206,2,14,3,DA Warner,L Balaji,KD Karthik,NaN,1,0,1,0,0,NaN,NaN,NaN,Delhi Daredevils
207060,392206,2,14,5,DA Warner,L Balaji,KD Karthik,NaN,1,0,1,0,0,NaN,NaN,NaN,Delhi Daredevils
207066,392206,2,15,5,DA Warner,SB Jakati,KD Karthik,NaN,0,0,0,0,1,DA Warner,stumped,MS Dhoni,Delhi Daredevils

In [3]:
df2 = pd.read_excel('../archive/bowler_team_data(2022).xlsx')
df2.dataframeName = 'bowler.csv'
df2

                    Team            Bowlers
0       Rajasthan Royals           TA Boult
1       Rajasthan Royals  M Prasidh Krishna
2       Rajasthan Royals          YS Chahal
3       Rajasthan Royals           OC McCoy
4       Rajasthan Royals           R Ashwin
..                   ...                ...
120  Chennai Super Kings        D Pretorius
121  Chennai Super Kings          CJ Jordan
122  Chennai Super Kings       TU Deshpande
123  Chennai Super Kings             S Dube
124  Chennai Super Kings           AF Milne

[125 rows x 2 columns]

In [6]:
bowler_subset = df2[df2["Team"] == 'Royal Challengers Bangalore']
bowler_subset = bowler_subset["Bowlers"].to_numpy()
bowler_subset

array(['Mohammed Siraj', 'JR Hazlewood', 'GJ Maxwell', 'Shahbaz Ahmed',
       'HV Patel', 'PWH de Silva', 'S Kaul', 'MK Lomror', 'Akash Deep',
       'DJ Willey'], dtype=object)

In [7]:
player_subset = df1[df1["batter"] == 'DA Warner']

for bowler in bowler_subset:

    print("Warner vs", bowler)
    
    temp = player_subset[player_subset["bowler"] == bowler]
    
    if len(temp)==0:
        print("Not yet faced")
        
    else:
        total_runs = temp["batsman_run"].sum()
        print(total_runs)

        total_innings = len(pd.unique(temp['ID']))
        print(total_innings)

        total_outs = temp[temp["player_out"] == 'DA Warner']
        print(len(total_outs))
        
        dots = temp[temp["batsman_run"] == 0]
        dot_percentage = len(dots)/len(temp) * 100
        print(dot_percentage)

        boundaries = temp[temp["batsman_run"] == 4]
        sixes =  temp[temp["batsman_run"] == 6]
        boundary_percentage = len(boundaries) + len(sixes) / len(temp) * 100
        print(boundary_percentage)

        if len(total_outs)==0:
            print("Avg : inf")
        else:
            average = total_runs / len(total_outs)
            print(average)

        strike_rate = total_runs / len(temp) * 100
        print(strike_rate)

Warner vs Mohammed Siraj
42
4
1
29.166666666666668
10.166666666666666
42.0
175.0
Warner vs JR Hazlewood
13
1
0
37.5
13.5
Avg : inf
162.5
Warner vs GJ Maxwell
39
6
1
45.45454545454545
10.090909090909092
39.0
118.18181818181819
Warner vs Shahbaz Ahmed
14
1
0
25.0
13.5
Avg : inf
175.0
Warner vs HV Patel
86
7
0
34.04255319148936
19.51063829787234
Avg : inf
182.9787234042553
Warner vs PWH de Silva
7
1
1
60.0
20.0
7.0
140.0
Warner vs S Kaul
2
1
0
75.0
0.0
Avg : inf
50.0
Warner vs MK Lomror
Not yet faced
Warner vs Akash Deep
Not yet faced
Warner vs DJ Willey
Not yet faced