In [2]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np 
import os
import pandas as pd

In [3]:
df1 = pd.read_csv('../archive/IPL_Ball_by_Ball_2008_2022.csv')
df1.dataframeName = 'deliveries.csv'

In [3]:
df1.head(5)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
player_subset = df1[df1["bowler"] == 'Mohammed Shami']
player_subset

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147743,598005,1,14,2,AM Rahane,Mohammed Shami,BJ Hodge,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147744,598005,1,14,3,BJ Hodge,Mohammed Shami,AM Rahane,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147745,598005,1,14,4,AM Rahane,Mohammed Shami,BJ Hodge,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
147746,598005,1,14,5,BJ Hodge,Mohammed Shami,AM Rahane,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
147747,598005,1,14,6,BJ Hodge,Mohammed Shami,AM Rahane,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
df2 = pd.read_excel('../archive/batter_team_data(2022).xlsx')
df2.dataframeName = 'batter.csv'
df2

                            Team          Batters
0            Chennai Super Kings       RD Gaikwad
1            Chennai Super Kings        DP Conway
2            Chennai Super Kings           MM Ali
3            Chennai Super Kings     N Jagadeesan
4            Chennai Super Kings        AT Rayudu
..                           ...              ...
169  Royal Challengers Bangalore  SS Prabhudessai
170  Royal Challengers Bangalore       Anuj Rawat
171  Royal Challengers Bangalore       Akash Deep
172  Royal Challengers Bangalore        DJ Willey
173  Royal Challengers Bangalore    SE Rutherford

[174 rows x 2 columns]

In [8]:
batter_subset = df2[df2["Team"] == 'Royal Challengers Bangalore']
batter_subset = batter_subset["Batters"].to_numpy()
batter_subset

array(['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror',
       'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel',
       'JR Hazlewood', 'Mohammed Siraj', 'SS Prabhudessai', 'Anuj Rawat',
       'Akash Deep', 'DJ Willey', 'SE Rutherford'], dtype=object)

In [9]:
for batter in batter_subset:

    print("Shami vs", batter)
    
    temp = player_subset[player_subset["batter"] == batter]
    
    if len(temp)==0:
        print("Not yet faced")
        
    else:

        extras_wides = temp[temp["extra_type"]=='wides'] 
        extras_noballs =  temp[temp["extra_type"]=='noballs']
        
        total_innings = len(pd.unique(temp['ID']))
        print(total_innings)

        total_runs = temp["batsman_run"].sum() + extras_wides["total_run"].sum() + extras_noballs["total_run"].sum()

        total_outs = temp["player_out"].isnull().sum()
        total_outs = len(temp)-total_outs
        print(total_outs)

        if total_outs == 0:
            print("Wicket not taken")
            
        else:
            average = total_runs/total_outs
            print(average)
            
        if total_outs == 0:
            print("Wicket not taken")
        else:
            strike_rate = len(temp)/ total_outs
            print(strike_rate)

        economy = total_runs / (len(temp)/6)
        print(economy)

Shami vs V Kohli
11
5
19.2
13.6
8.470588235294118
Shami vs F du Plessis
9
2
45.5
27.5
9.927272727272728
Shami vs RM Patidar
2
0
Wicket not taken
Wicket not taken
6.0
Shami vs GJ Maxwell
3
1
19.0
8.0
14.25
Shami vs MK Lomror
1
0
Wicket not taken
Wicket not taken
6.0
Shami vs KD Karthik
8
3
18.0
11.666666666666666
9.257142857142858
Shami vs Shahbaz Ahmed
1
1
7.0
3.0
14.0
Shami vs PWH de Silva
Not yet faced
Shami vs HV Patel
2
1
15.0
7.0
12.857142857142856
Shami vs JR Hazlewood
Not yet faced
Shami vs Mohammed Siraj
1
0
Wicket not taken
Wicket not taken
0.0
Shami vs SS Prabhudessai
Not yet faced
Shami vs Anuj Rawat
Not yet faced
Shami vs Akash Deep
Not yet faced
Shami vs DJ Willey
Not yet faced
Shami vs SE Rutherford
1
0
Wicket not taken
Wicket not taken
6.0