In [1]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np 
import os
import pandas as pd

In [4]:
df1 = pd.read_csv('D:/CRICKET_IPL/fantasy_cricket/archive/deliveries.csv')
df1.dataframeName = 'deliveries.csv'

In [5]:
df1.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [9]:
final_df = df1[(df1["batsman"] == "S Dhawan") & (df1["bowling_team"] == "Royal Challengers Bangalore")]
final_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
18,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,S Dhawan,MC Henriques,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150245,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,6,5,S Dhawan,DA Warner,CH Gayle,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150246,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,6,6,S Dhawan,DA Warner,CH Gayle,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150248,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,1,S Dhawan,DA Warner,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150250,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,3,S Dhawan,DA Warner,YS Chahal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150251,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,4,S Dhawan,DA Warner,YS Chahal,0,...,0,0,0,0,0,0,0,S Dhawan,caught,CJ Jordan

In [12]:
#total_stats
total_runs = final_df["batsman_runs"].sum()
print(total_runs)

total_innings = len(pd.unique(final_df['match_id']))
print(total_innings)

total_outs = final_df[final_df["player_dismissed"] == 'S Dhawan']
print(len(total_outs))

average = total_runs / len(total_outs)
print(average)

strike_rate = total_runs / len(final_df) * 100
print(strike_rate)

dots = final_df[final_df["batsman_runs"] == 0]
dot_percentage = len(dots)/len(final_df) * 100

print(dot_percentage)

boundaries = final_df[final_df["batsman_runs"] == 4]
sixes =  final_df[final_df["batsman_runs"] == 6]
boundary_percentage = len(boundaries) + len(sixes) / len(final_df) * 100
print(boundary_percentage)

399
14
10
39.9
122.39263803680981
38.95705521472393
49.760736196319016

In [20]:
#1st_innings
final_df_1 = final_df[final_df["inning"]==1]
total_runs = final_df_1["batsman_runs"].sum()
print(total_runs)

total_innings = len(pd.unique(final_df_1['match_id']))
print(total_innings)

total_outs = final_df_1[final_df_1["player_dismissed"] == 'S Dhawan']
print(len(total_outs))

average = total_runs / len(total_outs)
print(average)

strike_rate = total_runs / len(final_df_1) * 100
print(strike_rate)

dots = final_df_1[final_df_1["batsman_runs"] == 0]
dot_percentage = len(dots)/len(final_df) * 100
print(dot_percentage)

boundaries = final_df_1[final_df_1["batsman_runs"] == 4]
sixes =  final_df_1[final_df_1["batsman_runs"] == 6]
boundary_percentage = len(boundaries) + len(sixes) / len(final_df_1) * 100
print(boundary_percentage)

275
10
9
30.555555555555557
123.31838565022422
26.380368098159508
36.24215246636771

In [19]:
#2nd_innings
final_df_2 = final_df[final_df["inning"]==2]
total_runs = final_df_2["batsman_runs"].sum()
print(total_runs)

total_innings = len(pd.unique(final_df_2['match_id']))
print(total_innings)

total_outs = final_df_2[final_df_2["player_dismissed"] == 'S Dhawan']
print(len(total_outs))

average = total_runs / len(total_outs)
print(average)

strike_rate = total_runs / len(final_df_2) * 100
print(strike_rate)

dots = final_df_2[final_df_2["batsman_runs"] == 0]
dot_percentage = len(dots)/len(final_df) * 100
print(dot_percentage)

boundaries = final_df_2[final_df_2["batsman_runs"] == 4]
sixes =  final_df_2[final_df_2["batsman_runs"] == 6]
boundary_percentage = len(boundaries) + len(sixes) / len(final_df_2) * 100
print(boundary_percentage)

124
4
1
124.0
120.3883495145631
12.576687116564417
16.883495145631066