In [2]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np 
import os
import pandas as pd

In [3]:
df1 = pd.read_csv('D:/CRICKET_IPL/fantasy_cricket/archive/deliveries.csv')
df1.dataframeName = 'deliveries.csv'

In [5]:
df1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [11]:
final_df = df1[(df1["bowler"] == "B Kumar") & (df1["batting_team"] == "Royal Challengers Bangalore")]
final_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
131,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,1,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
132,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,2,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
133,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,3,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
134,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,4,Mandeep Singh,CH Gayle,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
135,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,5,Mandeep Singh,CH Gayle,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [12]:
#Overall

total_innings = len(pd.unique(final_df['match_id']))
print(total_innings)

total_runs = final_df["batsman_runs"].sum() + final_df["wide_runs"].sum() + final_df["noball_runs"].sum()
print(total_runs)

total_outs = final_df["player_dismissed"].isnull().sum()
total_outs = len(final_df)-total_outs
print(total_outs)

average = total_runs/total_outs
print(average)

strike_rate = len(final_df)/ total_outs
print(strike_rate)

economy = total_runs / (len(final_df)/6)
print(economy)

12
365
13
28.076923076923077
21.46153846153846
7.849462365591398

In [13]:
#1st_innings
final_df_1 = final_df[final_df["inning"]==1]

total_innings = len(pd.unique(final_df_1['match_id']))
print(total_innings)

total_runs = final_df_1["batsman_runs"].sum() + final_df_1["wide_runs"].sum() + final_df_1["noball_runs"].sum()
print(total_runs)

total_outs = final_df_1["player_dismissed"].isnull().sum()
total_outs = len(final_df_1)-total_outs
print(total_outs)

average = total_runs/total_outs
print(average)

strike_rate = len(final_df_1)/ total_outs
print(strike_rate)

economy = total_runs / (len(final_df_1)/6)
print(economy)

6
195
6
32.5
24.0
8.125

In [14]:
#2nd_innings
final_df_2 = final_df[final_df["inning"]==2]
total_innings = len(pd.unique(final_df_2['match_id']))
print(total_innings)

total_runs = final_df_2["batsman_runs"].sum() + final_df_2["wide_runs"].sum() + final_df_2["noball_runs"].sum()
print(total_runs)

total_outs = final_df_2["player_dismissed"].isnull().sum()
total_outs = len(final_df_2)-total_outs
print(total_outs)

average = total_runs/total_outs
print(average)

strike_rate = len(final_df_2)/ total_outs
print(strike_rate)

economy = total_runs / (len(final_df_2)/6)
print(economy)

6
170
7
24.285714285714285
19.285714285714285
7.555555555555555